/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './common/base';
@import './common/common';
@import './common/container';

@import './layout/cardMovie';
@import './layout/modal-team';
@import './common/home';

@import './layout/footer.scss';
@import './layout/_modalMovie.scss';
@import './layout/header-detailes';

// @import './common/headerHome';
// @import './common/headerLibrary';
@import './common/moviesList';
@import './common/pagination';
@import './common/button_top';
