{{!-- шаблон для карточки модального окна и окна карточки --}}

<div>
    <div>
        <h1> {{Name of movie}}</h1>
        <ul>
            <li>Vote / Votes><span>{{}}</span></li>
            <li>Popularity<span>{{}}</span></li>
            <li>Original Title<span>{{}}</span></li>
            <li>Genre<span>{{}}</span></li>
            <h2>{{ABOUT}}</h2>
            <p>{{text about}}</p>
        </ul>
        <div>
            <button>add to Watched</button>
            <button>add to queue</button>
        </div>
    </div>
    <div><img src="" alt=""></div>
</div>