<div class="lightbox-detailes js-lightbox__detailes">
    <div class="lightbox__overlay"></div>

    <div class="lightbox-detailes__content">
        <article class="article-detailes ">

            <!-- Header fullsize detailes -->
            <section class="header-detailes__bkgrd ">
                <div class="container-detailes">

                    <div class="logo logo__position">
                        <a href="" class="icon-style">
                            <svg class="icon" width="24" height="24">
                                <use href="./imagesHeader/films.svg#icon-film"></use>
                            </svg>
                        </a>

                        <p class="logo__text">Filmoteka</p>
                    </div>

                    <button data-detailes-close type="button" class="btn-detailes__close">
                        <svg class="icon-close__white" width="44px" height="44px">
                            <use href="./img/svg/Close.svg#icon-close"></use>
                        </svg>
                    </button>

                </div>
            </section>

            <!-- Container for insert markup of film's describe -->
            <section>
                <div class="container container__color js-modal-detailes">


                    <!-- Сard for example -->

                    <!-- <div class="card_modal">
                
                        <div class="img_movie"><img src="./img/modal_test/Rectangle_18.jpg" alt=""></div>
                    
                        <div class="about_movie">
                            <h1 class="about_movie__title"> Карточка Жени С.))))</h1>
                    
                            <table class="about_movie__table">
                                <tr class="about_movie__item">
                                    <td class="about_movie__type">Vote / Votes</td>
                                    <td><span class="rating">7.3</span> / <span class="votes">1260</span></td>
                                </tr>
                                <tr class="about_movie__item">
                                    <td class="about_movie__type">Popularity</td>
                                    <td>100.2</td>
                                </tr>
                                <tr class="about_movie__item">
                                    <td class="about_movie__type">Original Title</td>
                                    <td>A FISTFUL OF LEAD</td>
                                </tr>
                                <tr class="about_movie__item">
                                    <td class="about_movie__type">Genre</td>
                                    <td>Western</td>
                                </tr>
                            </table>
                    
                            <h2 class="about_movie__list">ABOUT</h2>
                            <p class="about_movie__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold
                                from
                                the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other
                                three
                                escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three
                                –
                                who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as
                                they
                                realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
                            <div class="modal-button">
                                <button class="button-watched button-watched-modal">add to Watched</button>
                                <button class="button-queue button-queue-modal">add to queue</button>
                            </div>
                        </div>
                    </div> -->


                    <!-- End of card for example -->

                </div>
            </section>

            <!-- Footer fullsize detailes -->

            <section class="footer-detailes__hidden">
                <div class="footer__container container">
                    <p class="footer__text">© 2021 | All Rights Reserved |</p>
                    <div class="footer__link">
                        <p class="footer__text">Developed with</p>
                        <svg width="14" height="13" class="heart__svg">
                            <use href="./img/svg/Heart.svg/#icon-Heart"></use>
                        </svg>
                        <a class="footer__text">by GoIT Students</a>
                    </div>
                </div>
            </section>

        </article>



    </div>


</div>