<header class="header-detailes">
        <section class="header-detailes__bkgrd">
            <div class="container">
            <div class="logo">
                <a href="">
                    <svg class="icon" width="20" height="20">
                        <use href="./imagesHeader/films.svg#icon-film"></use>
                    </svg>
                </a>
            </div>
            </div>
        </section>
    </header>
    <main>
        <div class="container js-modal-detailes">
    </main>
    <footer>
        <p>© 2020 | All Rights Reserved |</p>
        <p>Developed with</p>
        <svg width="32" height="32">
            <use href="./img/svg/Heart.svg"></use>
        </svg>
        <a>by GoIT Students</a>
    </footer>
