<div class="lightbox-detailes js-lightbox__detailes">
    <div class="lightbox__overlay"></div>

    <div class="lightbox-detailes__content">
        <article class="article-detailes ">

            <!-- Header fullsize detailes -->
            <section class="header-detailes__bkgrd ">
                <div class="container-detailes">

                    <div class="logo logo__position">
                        <a href="" class="icon-style">
                            <svg class="icon" width="24" height="24">
                                <use href="./imagesHeader/films.svg#icon-film"></use>
                            </svg>
                        </a>

                        <p class="logo__text">Filmoteka</p>
                    </div>

                    <button data-detailes-close type="button" class="btn-detailes__close">
                        <svg class="icon-close__white" width="44px" height="44px">
                            <use href="./img/svg/Close.svg#icon-close"></use>
                        </svg>
                    </button>

                </div>
            </section>

            <!-- Container for insert markup of film's describe -->
            <section class="thumb-detailes">
                <div class="container container__color js-modal-detailes"></div>
            </section>

            <!-- Footer fullsize detailes -->

            <section class="footer-detailes__hidden">
                <div class="footer__container-detailes container">
                    <div class="footer__link">
                        <p class="footer__text">© 2021 | All Rights Reserved |</p>
                     
                            Developed with
                            <button type="button" class="team-btn">
                                <svg width="14" height="13" class="heart__svg">
                                    <use href="./img/svg/Heart.svg/#icon-Heart"></use>
                                </svg>
                            </button>
                            by GoIT Students
                      
                    </div>
                </div>
            </section>

        </article>



    </div>


</div>