<header class="header">
  <div class="navigation">
    <div class="logo">
      <a href="">
        <svg class="icon" width="20" height="20">
          <use href="../imagesHeader/films.svg#icon-film"></use>
        </svg>
      </a>
    </div>

    <nav>
      <ul class="nav">
        <li class="nav__link"><a href="#">HOME </a></li>
        <li class="nav__connection"><a href="#"> LIBRARY </a></li>
      </ul>
    </nav>
  </div>
  <div class="buttons">
    <button class="button-watched">WATCHED</button>

    <button class="button-queue">QUEUE</button>
  </div>
</header>
