<header class="header">

  <div class="navigation">
    <div class="logo">
      <a href="">
        <svg class="icon" width="20" height="20">
          <use href="./imagesHeader/films.svg#icon-film"></use>
        </svg>
      </a>
    </div>

    <nav>
      <ul class="nav">
        <li class="nav__link"><a href="#">HOME </a></li>
        <li class="nav__connection"><a href="#"> LIBRARY </a></li>
      </ul>
    </nav>
  </div>

  <form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="
            Поиск фильмов..." class="placeholder" />
    <svg class="icon" width="20" height="20">
      <use href="./imagesHeader/films.svg#icon-search"></use>
    </svg>
  </form>


</header>