<section class="js-library__header header-hidden">
  <div class="container  header-library">
    <div class="navigation">
      <div class="logo">
        <div class="filmoteka">
          <svg class="icon" width="24" height="24">
            <use href="./imagesHeader/films.svg#icon-film"></use>
          </svg>
        </div>
        <p class="js-library__text logo__text">Filmoteka</p>
      </div>

      <nav>
        <ul class="nav">
          <li class=" nav__link "><a href="#" class="library-home__link">HOME </a></li>
          <li class="nav__connection"><a href="#" class="library-link"> LIBRARY </a></li>
        </ul>
      </nav>
    </div>
    <div class="buttons">
      <button id="library-watched__button" class="button-watched">WATCHED</button>

      <button id="library-queued__button" class="button-queue">QUEUE</button>
    </div>
  </div>
</section>