<!-- Разметка модального окна фильма -->

    <div class="lightbox js-lightbox">
        <div class="lightbox__overlay"></div>
  
        <div class="lightbox__content">
          <img class="lightbox__image" src="" alt="" />
        </div>
  
        <button
          type="button"
          class="lightbox__button"
          data-action="close-lightbox"></button>

          <div>
            <div>
                <h1> Name of movie</h1>
                <ul>
                    <li>Vote / Votes<span></span></li>
                    <li>Popularity<span></span></li>
                    <li>Original Title<span></span></li>
                    <li>Genre<span></span></li>
                    <h2>ABOUT</h2>
                    <p>text about</p>
                </ul>
                <div>
                    <button>add to Watched</button>
                    <button>add to queue</button>
                </div>
            </div>
            <div><img src="./img/modal_test/Rectangle_18.jpg" width="396" alt=""></div>
        </div>
      </div>
