<!-- Разметка модального окна фильма -->

<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox__content">
    <button type="button" class="close-modal" data-action="close-lightbox">
      <svg width="30" height="30">
        <use class="close-modal__cross" href="./img/svg/CloseModal.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="card_modal">

      <div class="img_movie"><img src="./img/modal_test/Rectangle_18.jpg" alt=""></div>
      <div class="about_movie">
        <h1 class="about_movie__title"> A FISTFUL OF LEAD</h1>

        <table class="about_movie__table">
          <tr class="about_movie__item">
            <td class="about_movie__type">Vote / Votes</td>
            <td><span class="rating">7.3</span> / <span class="votes">1260</span></td>
          </tr>
          <tr class="about_movie__item">
            <td class="about_movie__type">Popularity</td>
            <td>100.2</td>
          </tr>
          <tr class="about_movie__item">
            <td class="about_movie__type">Original Title</td>
            <td>A FISTFUL OF LEAD</td>
          </tr>
          <tr class="about_movie__item">
            <td class="about_movie__type">Genre</td>
            <td>Western</td>
          </tr>
        </table>

        <h2 class="about_movie__list">ABOUT</h2>
        <p class="about_movie__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold
          from
          the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three
          escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three –
          who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they
          realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
        <div class="modal-button">
          <button class="button-watched button-watched-modal">add to Watched</button>
          <button class="button-queue button-queue-modal">add to queue</button>
        </div>
      </div>

    </div>
  </div>
</div>