<!-- <button data-modal-open type="button" class="team-btn">
  <svg width="14" height="13" class="heart__svg">
    <use href="./img/svg/Heart.svg/#icon-Heart"></use>
  </svg>
</button> -->

<div data-modal class="backdrop-team is-hidden1 visually-hidden">
  <div class="container-team">
    <div class="team-modal-header header-detailes__bkgrd">
      <div class="logo logo__position header-team__position">
        <a href="" class="icon-style">
          <svg class="icon" width="24" height="24">
            <use href="./imagesHeader/films.svg#icon-film"></use>
          </svg>
        </a>

        <p class="logo__text logo-text-team">Our Team</p>

        <!-- <button data-modal-close type="button" class="modal-close-button-team1">
      <svg class="modal-icon-team" width="44px" height="44px">
        <use href="./img/svg/CloseModal.svg#icon-close-modal"></use>
      </svg>
    </button> -->

        <button data-modal-close type="button" class="btn-detailes__close btn-team-close">
          <svg class="icon-close__white" width="44px" height="44px">
            <use href="./img/svg/Close.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="modal-team container1">
      <div class="popup">
        <div class="first-team-list">
          <ul class="team-list list">
            <li class="team-list__item">
              <div class="imgs-wrapper">
                <img
                  src="./img/img-modal-team/Danylenko.jpg"
                  alt=""
                  class="team-list__img"
                  width="120"
                  height="80"
                />
              </div>

              <div class="team-list__item-description">
                <p class="team-list__item-name">Dmytro</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>
            </li>

            <li class="team-list__item">
              <div class="imgs-wrapper">
                <img
                  src="./img/img-modal-team/Danylenko.jpg"
                  alt=""
                  class="team-list__img"
                  width="120"
                  height="80"
                />
              </div>

              <div class="team-list__item-description">
                <p class="team-list__item-name">Dmytro</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>
            </li>

            <li class="team-list__item">
              <div class="imgs-wrapper">
                <img
                  src="./img/img-modal-team/Danylenko.jpg"
                  alt=""
                  class="team-list__img"
                  width="120"
                  height="80"
                />
              </div>

              <div class="team-list__item-description">
                <p class="team-list__item-name">Dmytro</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="second-team-list">
          <ul class="team-list list">
            <li class="team-list__item second-team-list__item">
              <div class="imgs-wrapper">
                <img
                  src="./img/img-modal-team/Danylenko.jpg"
                  alt=""
                  class="team-list__img"
                  width="120"
                  height="80"
                />
              </div>

              <div class="team-list__item-description">
                <p class="team-list__item-name">Dmytro</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>
            </li>

            <li class="team-list__item">
              <div class="imgs-wrapper">
                <img
                  src="./img/img-modal-team/Danylenko.jpg"
                  alt=""
                  class="team-list__img"
                  width="120"
                  height="80"
                />
              </div>

              <div class="team-list__item-description">
                <p class="team-list__item-name">Dmytro</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="third-team-list">
          <ul class="team-list list">
            <li class="team-list__item">
              <div class="imgs-wrapper">
                <img
                  src="./img/img-modal-team/Danylenko.jpg"
                  alt=""
                  class="team-list__img"
                  width="120"
                  height="80"
                />
              </div>

              <div class="team-list__item-description">
                <p class="team-list__item-name">Dmytro</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>
            </li>
            <li class="team-list__item">
              <div class="imgs-wrapper">
                <img
                  src="./img/img-modal-team/Danylenko.jpg"
                  alt=""
                  class="team-list__img"
                  width="120"
                  height="80"
                />
              </div>

              <div class="team-list__item-description">
                <p class="team-list__item-name">Dmytro</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>
            </li>

            <li class="team-list__item">
              <div class="imgs-wrapper">
                <img
                  src="./img/img-modal-team/Danylenko.jpg"
                  alt=""
                  class="team-list__img"
                  width="120"
                  height="80"
                />
              </div>

              <div class="team-list__item-description">
                <p class="team-list__item-name">Dmytro</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__container modal-team-footer container1">
        <p class="footer__text">© 2020 | All Rights Reserved |</p>
        <div class="footer__link">
          <p class="footer__text">Developed with</p>
          <svg width="14" height="13" class="heart__svg">
            <use href="./img/svg/Heart.svg/#icon-Heart"></use>
          </svg>
          <a class="footer__text">by GoIT Students</a>
        </div>
      </div>
    </div>
  </div>
</div>
