<div data-modal class="backdrop-team visually-hidden">
  <div class="team-modal">
    <div class="team-modal-header header-detailes__bkgrd1">
      <ul class="team-modal-header-position list">
        <li class="logo logo__position logo-header-team__position">
          <a href="" class="icon-style">
            <svg class="icon icon-team" width="24" height="24">
              <use href="./imagesHeader/films.svg#icon-film"></use>
            </svg>
          </a>
          <p class="logo__text logo-text-team">Our Team</p>
        </li>

        <li>
          <button data-modal-close type="button" class="btn-detailes__close btn-team-close">
            <svg class="icon-close__white icon-close__white__modal-team" width="20px" height="20px">
              <use href="./img/svg/Close.svg#icon-close"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div class="team-modal-content">
      <div class="first-team-list">
        <ul class="team-list list">
          <li class="team-list__item">
            <div class="imgs-wrapper">
              <img
                src="./img/img-modal-team/IhorStorozhok.jpg"
                alt=""
                class="team-list__img"
                width="120"
                height="120"
              />

              <div class="about_work_team">
                <ul class="about_work_team__list list">
                  <li class="about_work_team__description">
                    &#x2713; Header
                  </li>
                  <li class="about_work_team__description">
                    &#x2713; еще Что-то очень важное
                  </li>
                  <li class="about_work_team__description">
                    &#x2713;  и еще Что-то очень важное
                  </li>
                </ul>
              </div>
            </div>

            <div class="team-list__item-description">
              <div class="team-list__about">
                <p class="team-list__item-name">Ihor Srorozhok</p>
                <p class="team-list__item-position">Team Lead</p>
              </div>

              <div class="team-social">
                <a href="" class="social__link">
                  <svg class="social__svg" width="15" height="15">
                    <use href="./img/svg/social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>

          <li class="team-list__item">
            <div class="imgs-wrapper">
              <img
                src="./img/img-modal-team/DmytroZatonskiy.jpg"
                alt=""
                class="team-list__img"
                width="120"
                height="120"
              />

              <div class="about_work_team">
                <ul class="about_work_team__list list">
                  <li class="about_work_team__description">
                    &#x2713; Header
                  </li>
                  <li class="about_work_team__description">
                    &#x2713; еще Что-то очень важное
                  </li>
                  <li class="about_work_team__description">
                    &#x2713;  и еще Что-то очень важное
                  </li>
                </ul>
              </div>
            </div>

            <div class="team-list__item-description">
              <div class="team-list__about">
                <p class="team-list__item-name">Dmytro Zatonskiy</p>
                <p class="team-list__item-position">Scrum Master</p>
              </div>

              <div class="team-social">
                <a href="" class="social__link">
                  <svg class="social__svg" width="15" height="15">
                    <use href="./img/svg/social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>

          <li class="team-list__item">
            <div class="imgs-wrapper">
              <img
                src="./img/img-modal-team/YevgeniyaSavchenko.jpg"
                alt="YevgeniyaSavchenko"
                class="team-list__img"
                width="120"
                height="120"
              />

              <div class="about_work_team">
                <ul class="about_work_team__list list">
                  <li class="about_work_team__description">
                    &#x2713; Header
                  </li>
                  <li class="about_work_team__description">
                    &#x2713; еще Что-то очень важное
                  </li>
                  <li class="about_work_team__description">
                    &#x2713;  и еще Что-то очень важное
                  </li>
                </ul>
              </div>
            </div>

            <div class="team-list__item-description">
              <div class="team-list__about">
                <p class="team-list__item-name">Yevgeniya Savchenko</p>
                <p class="team-list__item-position">Developer</p>
              </div>

              <div class="team-social">
                <a href="" class="social__link">
                  <svg class="social__svg" width="15" height="15">
                    <use href="./img/svg/social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="second-team-list">
        <ul class="team-list list">
          <li class="team-list__item second-team-list__item">
            <div class="imgs-wrapper">
              <img
                src="./img/img-modal-team/KimKristina.jpg"
                alt="KimKristina"
                class="team-list__img"
                width="120"
                height="120"
              />

              <div class="about_work_team">
                <ul class="about_work_team__list list">
                  <li class="about_work_team__description">
                    &#x2713; Header
                  </li>
                  <li class="about_work_team__description">
                    &#x2713; еще Что-то очень важное
                  </li>
                  <li class="about_work_team__description">
                    &#x2713;  и еще Что-то очень важное
                  </li>
                </ul>
              </div>
            </div>

            <div class="team-list__item-description">
              <div class="team-list__about">
                <p class="team-list__item-name">Kim Kristina</p>
                <p class="team-list__item-position">Developer</p>
              </div>

              <div class="team-social">
                <a href="" class="social__link">
                  <svg class="social__svg" width="15" height="15">
                    <use href="./img/svg/social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>

          <li class="team-list__item">
            <div class="imgs-wrapper">
              <img
                src="./img/img-modal-team/YevheniiaDolzhykova.jpg"
                alt="YevheniiaDolzhykova"
                class="team-list__img"
                width="120"
                height="120"
              />

              <div class="about_work_team">
                <ul class="about_work_team__list list">
                  <li class="about_work_team__description">
                    &#x2713; Header
                  </li>
                  <li class="about_work_team__description">
                    &#x2713; еще Что-то очень важное
                  </li>
                  <li class="about_work_team__description">
                    &#x2713; и еще Что-то очень важное
                  </li>
                </ul>
              </div>
            </div>

            <div class="team-list__item-description">
              <div class="team-list__about">
                <p class="team-list__item-name">Yevheniia Dolzhykova</p>
                <p class="team-list__item-position">Developer</p>
              </div>

              <div class="team-social">
                <a href="" class="social__link">
                  <svg class="social__svg" width="15" height="15">
                    <use href="./img/svg/social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="third-team-list">
        <ul class="team-list list">
          <li class="team-list__item">
            <div class="imgs-wrapper">
              <img
                src="./img/img-modal-team/JaroslavaMoroziuk.jpg"
                alt="Jaroslava Moroziuk"
                class="team-list__img"
                width="120"
                height="120"
              />

              <div class="about_work_team">
                <ul class="about_work_team__list list">
                  <li class="about_work_team__description">
                    &#x2713; Header
                  </li>
                  <li class="about_work_team__description">
                    &#x2713; еще Что-то очень важное
                  </li>
                  <li class="about_work_team__description">
                    &#x2713;  и еще Что-то очень важное
                  </li>
                </ul>
              </div>
            </div>

            <div class="team-list__item-description">
              <div class="team-list__about">
                <p class="team-list__item-name">Jaroslava Moroziuk</p>
                <p class="team-list__item-position">Developer</p>
              </div>

              <div class="team-social">
                <a href="" class="social__link">
                  <svg class="social__svg" width="15" height="15">
                    <use href="./img/svg/social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>

          <li class="team-list__item">
            <div class="imgs-wrapper">
              <img
                src="./img/img-modal-team/YuliiaDanylenko.jpg"
                alt="YuliiaDanylenko"
                class="team-list__img"
                width="120"
                height="120"
              />

              <div class="about_work_team">
                <ul class="about_work_team__list list">
                  <li class="about_work_team__description">
                    &#x2713; Modal Team
                  </li>
                 
                </ul>
              </div>
            </div>

            <div class="team-list__item-description">
              <div class="team-list__about">
                <p class="team-list__item-name">Yuliia Danylenko</p>
                <p class="team-list__item-position">Developer</p>
              </div>

              <div class="team-social">
                <a href="" class="social__link">
                  <svg class="social__svg" width="15" height="15">
                    <use href="./img/svg/social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>

          <li class="team-list__item">
            <div class="imgs-wrapper">
              <img
                src="./img/img-modal-team/MartaMalovana.jpg"
                alt="MartaMalovana"
                class="team-list__img"
                width="120"
                height="120"
              />

              <div class="about_work_team">
                <ul class="about_work_team__list list">
                  <li class="about_work_team__description">
                    &#x2713; Кнопка "Наверх"
                  </li>

                  <li class="about_work_team__description">
                    &#x2713; И еще
                  </li>
                 
                </ul>
              </div>
            </div>

            <div class="team-list__item-description">
              <div class="team-list__about">
                <p class="team-list__item-name">Marta Malovana</p>
                <p class="team-list__item-position">Developer</p>
              </div>

              <div class="team-social">
                <a href="" class="social__link">
                  <svg class="social__svg" width="15" height="15">
                    <use href="./img/svg/social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__container modal-team-footer container1">
      <p class="footer__text">© 2021 | All Rights Reserved |</p>
      <div class="footer__link">
        <p class="footer__text footer__text__team-modal">Developed with</p>
        <svg width="14" height="13" class="heart__svg">
          <use href="./img/svg/Heart.svg/#icon-Heart"></use>
        </svg>
        <a class="footer__text footer__text__team-modal"> by GoIT Students</a>
      </div>
    </div>
  </div>
</div>
