<div class="login-modal visually-hidden">
    <div class="login-box">
        <button type="button" class="close-modal login-close" data-action="close-lightbox">
            <svg width="30" height="30">
                <use class="close-modal__cross" href="./img/svg/Close.svg#icon-close"></use>
            </svg>
        </button>
        <h2>Login</h2>
        <form id="login-form">
            <div class="user-box">

                <input id="login-email" type="text" name="login-email" required="" autocomplete="off">
                <label>Email</label>
            </div>

            <div class=" user-box">
                <input id="login-pass" type="password" name="login-pass" required="" minlength="7"
                    autocomplete="disabled">
                <label>Password</label>
            </div>
            <a class="login-pseudo-button" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
            <a href="#" id="logout" style="margin-left:50px ;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                logout
            </a>
        </form>

    </div>






    <div class="lightbox is-open  "></div>
</div>
<div class="sign-modal visually-hidden">
    <div class="login-box">
        <button type="button" class="close-modal signup-close" data-action="close-lightbox">
            <svg width="30" height="30">
                <use class="close-modal__cross" href="./img/svg/Close.svg#icon-close"></use>
            </svg>
        </button>
        <h2>Sign up</h2>
        <form id="sign-form">
            <div class="user-box">
                <input id="sign-imput" type="text" name="sign-email" required="" autocomplete="off">
                <label>Email</label>
            </div>

            <div class="user-box">
                <input id="sing-pass" type="password" name="sign-password" required="" minlength="7"
                    autocomplete="disabled">
                <label>Password</label>
            </div>
            <button class="visually-hidden" type="submit"></button>
            <a href="#" class="pseudo-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>

    </div>
    <div class="lightbox is-open "></div>
</div>