<div class="login-modal visually-hidden">
    <div class="login-box">
        <button type="button" class="close-modal login-close" data-action="close-lightbox">
            <svg width="30" height="30">
                <use class="close-modal__cross" href="./img/svg/CloseModal.svg#icon-close-modal"></use>
            </svg>
        </button>
        <h2>Login</h2>
        <form>
            <div class="user-box">

                <input type="text" name="" required="">
                <label>Username</label>
            </div>

            <div class="user-box">
                <input type="text" name="" required="">
                <label>Password</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>

    </div>
    <div class="lightbox is-open  "></div>
</div>
<div class="sign-modal visually-hidden">
    <div class="login-box">
        <button type="button" class="close-modal signup-close" data-action="close-lightbox">
            <svg width="30" height="30">
                <use class="close-modal__cross" href="./img/svg/CloseModal.svg#icon-close-modal"></use>
            </svg>
        </button>
        <h2>Sign up</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Username</label>
            </div>

            <div class="user-box">
                <input type="text" name="" required="">
                <label>Password</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>

    </div>
    <div class="lightbox is-open "></div>
</div>