.cards-movie-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  background-color: $background-color-light;
}

.card-movie__img {
  display: block;
  object-fit: cover;
  border-radius: 5px;
  background-image: url(../imagesHeader/unnamed_min.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card-movie__title {
  display: flex;
  margin-top: 10px;
  text-transform: uppercase;
}

.card-movie__text-container {
  display: flex;
  margin-top: 3px;
  color: #ff6b08;
}

.card-movie__delimiter {
  margin-left: 5px;
  margin-right: 5px;
}

.card-movie__imbd {
  padding: 0 6px;
  border-radius: 5px;
  background-color: #ff6b08;
  color: #ffffff;
  &--card {
    margin-left: 10px;
  }
}

//контейнер для мобильной версии
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main_container {
    min-height: 58vh;
  }
}
//контейнер для планшета
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main_container {
    min-height: 69vh;
  }
}
//контейнер фулл версии
@media screen and (min-width: 1024px) {
  .main_container {
    min-height: 70vh;
  }
}
