$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;

// Header fullsize window detailes
// .article-detailes {
//   display: flex;
//   flex-direction: column;
// }
.container-detailes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
}
.container__color {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(237, 237, 241);
  box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.2);
  @media screen and(min-width: 768px) {
    flex-direction: row;
  }
}

.header-detailes__bkgrd {
  min-height: 230px;
  max-width: 320px;
  padding: 20px 36px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.2);

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../img/header-detailes/header-detailes-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-detailes/header-detailes-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

// Header-detailes tablet version

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-detailes__bkgrd {
    max-width: 768px;
    padding: 37px 75px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-detailes/header-detailes-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../img/header-detailes/header-detailes-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

// Header detailes desktop version

@media screen and(min-width:1024px) {
  .header-detailes__bkgrd {
    padding-top: 37px;
    padding-bottom: 37px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-detailes/header-detailes@1x.jpg);
    max-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../img/header-detailes/header-detailes@2x.jpg);
    }
  }
}

@media screen and(max-width:319px) {
  .header-detailes__bkgrd {
    max-height: 230px;
    background-size: cover;
  }
}

.btn-detailes__close {
  height: 44px;
  width: 44px;
  padding: 0;
  margin-bottom: auto;

  background-color: transparent;
  border: none;
}
.icon-close__white {
  fill: white;
}

// Main fullsize window detailes

// .thumb-detailes {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }
// Footer fullsize window detailes
.footer__container-detailes {
  box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.2);
}

@media screen and(max-width:1023px) {
  .footer-detailes__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and(min-width:1024px) {
  .footer-detailes__hidden {
    background-color: white;
  }
}

// Modal Fullsize description

.lightbox-detailes__content {
  width: 100vw;
  height: 100%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.95);
  transition: transform $animation-duration $timing-function;
}

.lightbox-detailes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -5;
}

.lightbox-detailes.is-open {
  opacity: 1;
  pointer-events: initial;
  z-index: 2;
}

.lightbox-detailes.is-open .lightbox-detailes__content {
  transform: scale(1);
}

// .lightbox__overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.8);
// }

// .lightbox__image {
//   display: block;
//   width: auto;
//   height: auto;
//   max-height: 100vh;
//   max-width: 100vw;
// }
