.container-detailes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
}

.header-detailes__bkgrd {
  min-height: 230px;
  max-width: 320px;
  padding: 20px 36px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../img/header-detailes/header-detailes-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-detailes/header-detailes-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

//контейнер для планшета
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-detailes__bkgrd {
    max-width: 768px;
    padding: 37px 75px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-detailes/header-detailes-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../img/header-detailes/header-detailes-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

@media screen and(min-width:1024px) {
  .header-detailes__bkgrd {
    padding-top: 37px;
    padding-bottom: 37px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-detailes/header-detailes@1x.jpg);
    max-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../img/header-detailes/header-detailes@2x.jpg);
    }
  }
}

// контейнер для мобильной версии

.btn-detailes__close {
  height: 44px;
  width: 44px;
  padding: 0;
  margin-bottom: auto;

  background-color: transparent;
  border: none;
}
.icon-close__white {
  fill: white;
}
// .logo__position {
//   margin-bottom: auto;
// }
