.team-btn {
  border: none;
  background-color: inherit;
}

.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.25);

  padding: 50px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.team-modal {
  min-width: 280px;

  background-color: white;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 618px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1024px) {
    width: 882px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.team-modal-header {
  height: 80px;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../img/header-detailes/header-detailes-tablet@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: black;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: 100px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-detailes/header-detailes-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-width: 1024px) {
    height: 120px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-detailes/header-detailes-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.team-modal-header-position {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo-header-team__position {
  margin-left: 20px;

  @media screen and (min-width: 1024px) {
    margin-left: 40px;
  }
}

.icon.icon-team {
  @media screen and (min-width: 1024px) {
    width: 40px;
    height: 40px;
  }
}

.logo__text.logo-text-team {
  display: inline-block;
  font-size: 20px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    padding-left: 40px;
    padding-top: 20px;
  }
}

.icon-close__white__modal-team.icon-close__white {
  width: 28px;
  height: 28px;
  margin: auto;

  @media screen and (min-width: 1024px) {
    width: 40px;
    height: 40px;
  }
}

.team-modal-content {
  padding: 40px 60px;
}

.team-list {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-list__item {
  display: inline-block;
  padding: 5px;
}

.imgs-wrapper {
  // display: inline-block;

  @media screen and (min-width: 1024px) {
    width: 200px;
  }
}

img.team-list__img {
  display: inline-block;
  margin-left: auto;

  max-width: 100%;
  height: auto;

  margin-right: auto;
  // margin-left: auto;

  @media screen and (min-width: 1024px) {
  }
}

.team-list__item-name {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-top: 5px;
}
.team-list__item-position {
  color: $accent-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.footer__container.modal-team-footer {
  height: 50px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media screen and (min-width: 1024px) {
    height: 100px;
  }
}

// body.body-hidden {
//   overflow: hidden;
// }

.first-team-list,
.third-team-list {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 0 40px;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 60px;
  }
}

.second-team-list {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-left: 100px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 200px;
  }
}
