.team-btn {
  border: none;
  background-color: inherit;
}

.btn-team-close {
  margin-left: 500px;
}

.container-team {
  width: 882px;
  height: 568px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop-team {
  position: fixed;
  top: 0;

  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 15px;

  margin: 0;
}

.team-modal-header.header-detailes__bkgrd {
  min-height: 150px;
}

.team-modal-header {
  margin: 0;
}

.modal-team {
  @media screen and (min-width: 1024px) {
    width: 882px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 618px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    min-width: 280px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.team-list__item {
  padding: 15px;
  display: inline-block;
}

.team-modal-header {
  // display: flex;
  // align-items: center;

  background-color: black;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../img/header-detailes/header-detailes-mobile@1x.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-team__position {
  display: flex;
  justify-content: space-between;
}

.popup {
  min-width: 100%;
  // display: flex;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close-button-team {
  // position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-icon-team {
  position: absolute;
  top: 30px;

  fill: white;
}

.modal-team {
  background-color: #ffffff;
  margin-top: 0;
}

.team-list {
  padding: 0;
}

.btn-team-close {
  cursor: pointer;
}

img.team-list__img {
  margin: 0px 0px;
  display: inline-block;
  max-width: 100%;
  height: auto;
  background-color: red;
  vertical-align: top;

  @media screen and (min-width: 1024px) {
    min-width: 200px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    min-width: 160px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 120px;
  }
}

.imgs-wrapper {
  display: inline-block;
}

.team-list__item-name {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.team-list__item-position {
  color: $accent-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.first-team-list,
.third-team-list {
  margin-left: 90px;
}

.second-team-list {
  margin-left: 210px;
}
.second-team-list__item:first-child {
  margin-right: 10px;
}
