//fonts
$basic-font: 'Roboto', sans-serif;

//colors
$accent-color: #ff6b08;
$background-color-light: #e5e5e5;
$background-color-modal: #ffffff;
$dark-grey: #121111;

//text-color
$light-text-color: #ffffff;
$dark-text-color: #000000;
$accent-text-color: #ff6b08;
$error-tex-color: #ff001b;
