// Оформление списка карточек ul
.cards-movie-list {
  // border: 1px solid red;
  width: 320px;
  padding: 20px 20px 40px 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 768px;
    padding-top: 60px;
    padding-right: 75px;
    padding-left: 45px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding-top: 60px;
    padding-right: 71px;
    padding-left: 41px;
    padding-bottom: 60px;
  }
}

// Оформление карточки списка li
// .card-list__item {
//     // border: 1px solid blueviolet;

// }

.card-movie {
  width: 280px;
  border-radius: 5px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 294px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

.card-movie__img-container {
  margin-bottom: 10px;
  height: 398px;
}

.card-movie__img {
  width: 100%;
  height: 100%;
}

// .card-movie__title {
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 1.33;
//     color: $dark-text-color;
// }

.card-movie__text-container {
  line-height: 1.171;
  color: $accent-text-color;
}
