.scrollToTop {
    background-image: url('../img/svg/array-up.svg');
    background-color: $accent-color;
    fill: white !important;
    border-radius: 50%;
    // border-color: $accent-color;
    border-image: none !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.scrollToTop:hover {
    background-color: $background-color-modal;
}

.buttonTop {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 10px;
    background-color: $accent-color;
    border: 0px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.buttonTop:hover {
    border: 2px solid $accent-color;
}

.buttonTop:hover,
.buttonTop:hover .scrollToTop {
    background-color: white;
}